<header class="navbar is-warning">
  <div class='navbar-brand'>
    <a class="navbar-item" href='/'>Sinatra Warden</a>
  </div>

  <div class='navbar-menu'>
    <div class="navbar-start">
      <a class="navbar-item" href='/'>Public</a>
      <a class="navbar-item" href='/protected'>Protected</a>
    </div>

    <div class="navbar-end">
      <% if authenticated? %>
        <span class="navbar-item" id="username"><%= @current_user.username %></span>
        <a class="navbar-item" href='/logout'>Logout</a>
      <% else %>
        <a class='navbar-item' href='/login'>Login</a>
      <% end %>
    </div>
  </div>
</header>
