<h2 class='title is-2'>Login</h2>

<form action='/login' method='post' class="form-group">
  <div class="field">
    <label class='label' for='username-input'>Username</label>
    <input class="input" type="text" name="username" autofocus="autofocus" />
  </div>

  <div class="field">
    <label class='label' for='password-input'>Password</label>
    <input class='input' type="password" name="password" id="password-input" />
  </div>

  <div class="field">
    <div class="control">
      <input class='button submit' type="submit" value="Log in"/>
    </div>
  </div>
</form>
