#username {
  background-color: transparent;
  color: gray;
  font-family: monospace;
}

.navbar {
  z-index: 1;
}

.navbar-brand {
  font-weight: bold;
}

.flash {
  border: 1px solid #ddd;
  border-radius: 3px;

  width: 300px;
  margin: auto;
  margin-top: -1rem;
  z-index: 2;
  position: relative;
  box-shadow: 2px 2px 3px #ddd; padding: 0.5rem 1rem;
}

.flash-success {
  background-color: #c5ff87;
  border-color: #abff4f;
}

.flash-error {
  background-color: #e08291;
  border-color: #f21b3f;
}

.section h1, .section h2, .section h3 {
  color: #888;
}

.section p {
  font-size: 1.4rem;
  color: #888;
  margin-bottom: 1rem;
}
